.solar-roof-section {
    height: 100vh;
    //top: 0;
    background-image: url("img/background-image-solar-roof.png");
    background-position: center center;
    @include backgroundCover();
    overflow: hidden;
}

.smoke-overlay {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}